body, html {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  background: url(../img/bodybg.png) repeat #3e555e left top; }

canvas {
  border: 5px double #596B72;
  margin-top: 10px;
  position: relative;
  margin-bottom: -4px;
  z-index: 1; }

footer {
  font-family: 'Ceviche One', cursive;
  border: 5px double #596B72;
  margin-top: 10px;
  width: 288px;
  height: 50px;
  margin: 10px auto 0;
  background-color: #596B72;
  font-size: 26px;
  line-height: 24px; }
  footer a {
    color: white;
    text-decoration: none; }

.addThisDiv {
  margin: 20px auto 0;
  width: 410px; }
